# Python and SQL with SQLite3

Extension: https://marketplace.visualstudio.com/items?itemName=qwtel.sqlite-viewer

In [1]:
import sqlite3

## Connecting to Database

In [14]:
# Connect to database (or create one)
connection = sqlite3.connect("database.sqlite")
cursor = connection.cursor()

## Creating Table

Table Name: user

Contains: ID, Name, Age

In [ ]:
# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT NOT NULL,
                    age INTEGER,
                    gender TEXT NOT NULL)''')

### Task: Create a Table
Create another table "city"

Requirement: ID, Name, Country

## Lisitng Tables

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

## Creating Data

Format:

cursor.execute("INSERT INTO table_name (content_column_name) VALUES (placeholders)", content)

In [ ]:
# Insert data
cursor.execute("INSERT INTO users (name, age, gender) VALUES (?, ?, ?)", ("Sudip", 25, "M"))
cursor.execute("INSERT INTO users (name, age, gender) VALUES (?, ?, ?)", ("Suwarna", 40, "F"))
cursor.execute("INSERT INTO users (name, age, gender) VALUES (?, ?, ?)", ("Sudipa", 40, "F"))

In [7]:
# Commit changes
connection.commit()

### Placeholder: VALUES (?, ?)

In [8]:
cursor.execute("INSERT INTO users (name, age, gender) VALUES ('Dhiraj', 25, 'M')")
connection.commit()

### Task: Add Kathmandu and Dharan to City Table

## Reading Data from Database

In [ ]:
# Query data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

### Task: Read Data from City

## Update Data

In [12]:
# Update data
cursor.execute("UPDATE users SET gender = ? WHERE name = ?", ("M", "Suwarna"))
connection.commit()

### Task: Correct Sudipa's Age to 20

## Delete Data

In [13]:
# Delete data
cursor.execute("DELETE FROM users WHERE name = ?", ("Dhiraj",))
connection.commit()

### Task: Delete Suwarna from Table

## Terminating Connection

In [15]:
# Close connection
connection.close()

# Testing with External Data

Original File Link: https://www.kaggle.com/datasets/brendan45774/countries-life-expectancy (in CSV)

Recommended Download Location: https://github.com/CS50xNepalOfficial/CS50AI

## Connecting to Database

### Task: Connect to LifeExpectancy Database

### Task: Get Data Related to Australia

## Plotting Data

In [ ]:
%pip install matplotlib

In [108]:
import matplotlib.pyplot as plt

In [ ]:
# Extracting data for plotting
years = [row[1] for row in data]  # Extract years
values = [row[2] for row in data]  # Extract values

# Plotting the data
# plt.figure(figsize=(8, 5))
plt.plot(years, values)  # Line plot

# Adding labels and title
plt.xlabel('Year')
plt.ylabel('Value')
plt.title('Data for Australia')
plt.legend()
plt.grid(True)

# Display the plot
plt.show()

### Task: Plot Data from China

# Extra: Exploring Data, Visualizing, and Finding Insights

In [ ]:
LifeData.execute("SELECT * FROM LifeExpectancy")
data = LifeData.fetchall()
data

# Organizing data by country
country_data = {}
for country, year, value in data:
    if country not in country_data:
        country_data[country] = {'years': [], 'values': []}
    country_data[country]['years'].append(year)
    country_data[country]['values'].append(value)

# Create a 3x5 grid layout for subplots
fig, axes = plt.subplots(nrows=8, ncols=2, figsize=(20, 24), sharey=True)

# Flatten the axes array for easier iteration
axes = axes.flatten()

# Plot data for each country in its own subplot
for ax, (country, data) in zip(axes, country_data.items()):
    ax.plot(data['years'], data['values'], label=country)

    # ax.fill_between(x=[1914, 1918], 
    #                 y1=0, 
    #                 y2=[max(data['values'])], 
    #                 color='gray', alpha=0.3, label="WWI Period")
    
    # ax.fill_between(x=[1939, 1945], 
    #                 y1=0, 
    #                 y2=[max(data['values'])], 
    #                 color='gray', alpha=0.3, label="WWII Period")

    ax.set_title(country, fontsize=10)
    ax.set_xlabel("Year", fontsize=8)
    ax.tick_params(axis='x', labelsize=8)
    ax.grid(True)

# Remove any unused subplots
for ax in axes[len(country_data):]:
    ax.set_visible(False)

# Add a shared Y-axis label
fig.text(0.04, 0.5, 'Value', va='center', rotation='vertical', fontsize=12)

# Adjust layout
plt.tight_layout()
plt.show()